.question-item {
    margin: 15px 0
}

html,
body {
    height: 100%
}

html,
body,
input,
textarea,
button {
    -webkit-font-smoothing: antialiased;
    -moz-osx-font-smoothing: grayscale;
    text-shadow: 1px 1px 1px rgba(0, 0, 0, .004)
}

#sidebar {
    background-color: #e57373;
    padding: 15px
}

#chat {
    display: none;
    height: 100%
}

.links {
    padding: 1rem 0;
    cursor: pointer
}

.selected {
    text-decoration: underline
}

.question-body-break {
    overflow-wrap: break-word
}

.mui-form {
    padding: 1rem
}

#emailError,
#passError,
#authError {
    color: red
}

.chat-line {
    display: flex
}

#chatInput {
    height: 2.5rem
}

#sendMsg {
    margin: 6px 0 6px 6px
}

#mainChatBody,
#mainChatBodyToo {
    height: 100%
}

#chatBody {
    height: 100%;
    border-radius: 1rem;
    background: rgba(0, 0, 0, .041);
    display: flex;
    flex-direction: column;
    justify-content: space-between
}

#mainChatBodyToo {
    padding: 1rem
}

#needs-overflow {
    overflow-y: scroll
}

.chat-message-body {
    padding: .5rem .25rem;
    font-size: 1.5rem;
    width: 30vw;
    word-wrap: break-word
}

.hidden {
    display: none
}

.question-links {
    padding-inline: 1rem
}

@media(min-width: 768px) {
    #sidebar {
        position: fixed;
        top: 0;
        bottom: 0;
        width: min-content;
        height: 100%;
        padding-top: 30px
    }
}

@media(min-width: 768px) {
    #content,
    #chat {
        margin-left: 180px
    }
}

@media(max-width: 768px) {
    #mainChatBodyToo {
        height: calc(100% - 174px)
    }
}